/* Our story */
.story-container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    line-height: 1.8;
    padding: 2rem;
}

.story-image-container {
    flex: 1;
}

.story-image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.story-content {
    flex: 1;
}

.story-content h2 {
    color: #003366;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.story-content p {
    font-size: 1rem;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.story-image-container {
    flex: 1;
    overflow: hidden;
}

.story-image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.story-image-container:hover img {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .story-container {
        flex-direction: column;
        gap: 2rem;
    }

    .story-image-container,
    .story-content {
        flex: none;
        width: 100%;
    }
}

/* vision mission */
.Vission-mission-container {
    background-color: rgba(245, 251, 255, 1);
}

.header-vision {
    text-align: center;
    color: #003366;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.Vission-mission-cards-container {
    padding-bottom: 80px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.Vission-mission-card {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #e1f0ff;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    transition: transform 0.3s ease;
}
.header2-choose-us {
    color: #003366;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.para-choose {
    color: #4a4a4a;
}

.Vission-mission-card:hover {
    transform: translateY(-5px);
}

.icon {
    width: 64px;
    height: 64px;
    margin-bottom: 1.5rem;
}

.Vission-mission-card h2 {
    color: #003366;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.Vission-mission-card p {
    color: #4a4a4a;
    font-size: 1rem;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .Vission-mission-cards-container {
        flex-direction: column;
    }

    .Vission-mission-card {
        max-width: 100%;
    }
}

/* Hero Section */
#career-hero {
    min-height: 60vh;
    background: url("../images/header-bg.jpg");

    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content p {
    margin: 30px auto;
}

.cta-button {
    padding: 0.75rem 1.5rem;
    background-color: #ffd700;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffc107;
}

/* Why Choose Us */
.why-choose-us-container {
    padding: 3rem 2rem;
    /* background-color: #e8f0ff; */
}

.why-choose-us-cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.why-choose-us-card {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #e1f0ff;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;
}

.why-choose-us-card:hover {
    transform: translateY(-5px);
    background-color: #4ba3fa; /* Blue color on hover */
    border-color: #4ba3fa; /* Change border to blue on hover */
    color: white; /* Change text color to white */
}

.why-choose-us-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 1.5rem;
}
